{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}Login{% endblock %}
{% block content %}
         <section ng-app="siteApp">
        <div class="container" ng-controller="RegisterCtrl">
            <div class="row">

                <div class="col-md-6 col-sm-6 hero-feature" style="margin-left:auto;
  margin-right:auto; horiz-align: center;">
                    {% if form.errors %}
                    <div class="alert alert-danger" ng-show="showError" ng-init="showError=false;">
                        <button type="button" class="close" ng-click="showError=false;" aria-hidden="true">×</button>
                        <strong>Логин или Пароль неправильные, попробуйте еще раз.</strong>
                    </div>
                    {% endif %}
                    <form class="form-horizontal" method="post" action="" name="userForm" novalidate> {% csrf_token %}
                                <div>
                                        <div>
                                            <div class="form-group-lg required">
                                                <label class="control-label" for="username">E-mail</label>
                                                <input id="username" class="form-control" type="text" name="username" ng-model="formData.site_name" ng-minlength="3" placeholder="E-mail" required >
                                            </div>
                                            <div class="form-group-lg required">
                                                <label class="control-label" for="password">Пароль</label>
                                                <input id="password"  class="form-control" type="password" name="password" ng-model="formData.password" ng-minlength="6" placeholder="Пароль" required>
                                            </div>

                                        </div>
                                </div>
                            <div class="clearfix"></div>
                            <div style="text-align: left; padding:15px;">
{#                                <li class="" ng-class="{disabled: !hasPreviousStep()}" ng-show="hasPreviousStep()">#}
{#                                <li class="" ng-class="{disabled: !hasPreviousStep()}" ng-show="hasPreviousStep()">#}
{#                                    <a href="javascript:void(0);" ng-click="decrementStep()">&larr; Пред. Шаг</a>#}
{#                                </li>#}
                                <input type="submit" class="btn btn-success" value=Войти>

                                <a href=/#portfolio role="button" class="btn btn-link">Зарегистрироваться</a>

                            </div>

                            <div class="clearfix"></div>

                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}