{% extends "base.html" %}
{% block title %}Список сайтов{% endblock %}
{% block head %}Adbox{% endblock %}
{% block css %}
{% load humanize %}
{% endblock %}
{% block content %}
<section>
    {% if sites_list|length == 0 %}
        <p>
        В ДАННЫЙ МОМЕНТ САЙТОВ НЕТ <a href="create/"><b>СОЗДАТЬ</b></a>
        </p>
    {% else %}
    <table cellspacing="2" border="1" cellpadding="5" width="600">
        <tr>
            <td>
                 <h3>Имя сайта</h3>
            </td>
            <td>
                <h3>URL</h3>
            </td>
        </tr>
        {% for site in sites_list %}
        <tr>
            <td>
                {{ site.name }}
            </td>
            <td>
                {{ site.url }}
            </td>
            <td>
                <a href="{{ site.id }}/">Подробнее</a>
            </td>
        </tr>
        {% endfor %}
    </table>
        <a href="create/">СОЗДАТЬ</a>
    {% endif %}
</section>
{% endblock %}