.data-visualization_container {
	margin: 0 62px 0;
	min-height: 300px;
	height: auto;
}

.datatable_left_alignment {
	text-align: left;
}

.datatable_right_alignment {
	text-align: right;
}

.datatable_center_alignment {
	text-align: center;
}

.datatable_rowspan_header {
	text-align: center;
	font-size: 12px;
}

.datatable_hover {
	background: #F0DCB6;
}

div.tracking-content-inner-div {

}

div.tracking-menu-inner-div {

}

div.tracking-content-top-inner-div {
    position: relative;
    margin-bottom: 20px;
}

div.tracking-content-top-inner-div-calendar {
    position: relative;
    top: 0px;
    margin-bottom: -50px;
    margin-top: 9px;
    margin-left: 9px;
    z-index: 999;
    float: left;
}

div.tracking-content-top-inner-div-webix {
    position: relative;
    top: 0px;
}

.webix_layout_toolbar.webix_toolbar {
	background: #666666;
}

.webix_ui_label_toolbar {
	font-size: 5px;
}