{% extends "ui-base.html" %}
{% block title %}Кампании{% endblock %}


{% block css %}

    <!-- webix.css -->
    <link href="/static/libs/webix/codebase/webix.css" rel="stylesheet" type="text/css" >

	<!-- tracking.css -->
    <link href="/static/css/tracking.css" rel="stylesheet" type="text/css" >

	<!--left-menu.css-->
	<link href="/static/css/left-menu.css" rel="stylesheet" type="text/css" >

{% endblock %}
{% block js %}

	<!-- jQuery -->
	<script src="/static/libs/jquery-2.1.4.min.js"></script>

    <!-- left_menu.js -->
    <script src="/static/js/left_menu.js"></script>

    <!-- Webix JS Core -->
    <script src="/static/libs/webix/codebase/webix.js"></script>

{% endblock %}



{% block menu %}<div class="tracking-menu-inner-div" id="leftMenuContainerInner"></div>{% endblock %}
{% block content %}
 <section ng-app="siteApp">
    <table>
        <thead>
        <td>ID</td><td>Имя</td><td>Количество баннеров</td><td>Ссылка</td>
        </thead>
        {% for campaign in campaigns_list %}
            <tr>
                <td>{{campaign.id}}</td>
                <td>{{campaign.name}}</td>
                <td>{{campaign.banner_set.all | length}}</td>
                <td><a href="{{campaign.id}}/">Подробнее</a></td>
            </tr>
        {% endfor %}
    </table>
     <a href="create/">Создать новую кампанию</a>
 </section>

{% endblock %}