{% extends "base.html" %}
{% block title %}Welcome to Django{% endblock %}
{% block head %}Welcome to Django{% endblock %}
{% block css %}
{% load humanize %}


{% endblock %}
{% block content %}
<section>
    <!--<div id="data-visualization" style="margin-left: 62px; margin-right: 62px; min-height: 300px;">-->
    <div id="data-visualization" class="dv-container">
        <script>

        	(function init() {

				var pxTreetableData = [
					{ "id":"1", "value":"Chocomart", "visits":"549", "open":true, "data":[
						{ "id":"1.1", "value":"Page 01", "visits":"350"},
						{ "id":"1.2", "value":"Page 02", "visits":"50"},
						{ "id":"1.3", "value":"Page 03", "visits":"49" }
					]},
					{ "id":"2", "value":"Lensmark", "visits":"221", "open":true, "data":[
						{ "id":"2.1", "value":"Page 01", "visits":"111" },
						{ "id":"2.2", "value":"Page 02", "visits":"110" }
					]},
						{ "id":"3", "value":"Chocofood", "visits":"816", "open":true, "data":[
						{ "id":"3.1", "value":"Page 01", "visits":"412" },
						{ "id":"3.2", "value":"Page 02", "visits":"104" },
						{ "id":"3.3", "value":"Page 03", "visits":"200" },
						{ "id":"3.4", "value":"Page 04", "visits":"100" }
					]}
				];

				var visitsTableData = [
					{"country":"Казахстан", "city":"Алматы", "useragent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11) AppleWebKit/601.1.56 (KHTML, like Gecko) Version/9.0 Safari/601.1.56", "os":"Mac OS 10.11.0"},
					{"country":"Казахстан", "city":"Алматы", "useragent":"Opera/9.80 (Windows NT 6.2; Win64; x64) Presto/2.12.388 Version/12.17", "os":"Windows 8"},
					{"country":"Казахстан", "city":"Алматы", "useragent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11) AppleWebKit/601.1.56 (KHTML, like Gecko) Version/9.0 Safari/601.1.56", "os":"Mac OS 10.11.0"},
					{"country":"Казахстан", "city":"Алматы", "useragent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11) AppleWebKit/601.1.56 (KHTML, like Gecko) Version/9.0 Safari/601.1.56", "os":"Mac OS 10.11.0"},
					{"country":"Казахстан", "city":"Алматы", "useragent":"Opera/9.80 (Windows NT 6.2; Win64; x64) Presto/2.12.388 Version/12.17", "os":"Windows 8"},
					{"country":"Казахстан", "city":"Алматы", "useragent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11) AppleWebKit/601.1.56 (KHTML, like Gecko) Version/9.0 Safari/601.1.56", "os":"Mac OS 10.11.0"},
					{"country":"Казахстан", "city":"Алматы", "useragent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11) AppleWebKit/601.1.56 (KHTML, like Gecko) Version/9.0 Safari/601.1.56", "os":"Mac OS 10.11.0"},
					{"country":"Казахстан", "city":"Алматы", "useragent":"Opera/9.80 (Windows NT 6.2; Win64; x64) Presto/2.12.388 Version/12.17", "os":"Windows 8"},
					{"country":"Казахстан", "city":"Алматы", "useragent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11) AppleWebKit/601.1.56 (KHTML, like Gecko) Version/9.0 Safari/601.1.56", "os":"Mac OS 10.11.0"},
					{"country":"Казахстан", "city":"Алматы", "useragent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11) AppleWebKit/601.1.56 (KHTML, like Gecko) Version/9.0 Safari/601.1.56", "os":"Mac OS 10.11.0"},
					{"country":"Казахстан", "city":"Алматы", "useragent":"Opera/9.80 (Windows NT 6.2; Win64; x64) Presto/2.12.388 Version/12.17", "os":"Windows 8"},
					{"country":"Казахстан", "city":"Алматы", "useragent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11) AppleWebKit/601.1.56 (KHTML, like Gecko) Version/9.0 Safari/601.1.56", "os":"Mac OS 10.11.0"}
				]

				var visitChartData = [
					{ views:"152", reqs:"36", xAxis:"00" },
					{ views:"147", reqs:"32", xAxis:"01" },
					{ views:"181", reqs:"40", xAxis:"02" },
					{ views:"182", reqs:"38", xAxis:"03" },
					{ views:"173", reqs:"36", xAxis:"04" },
					{ views:"170", reqs:"32", xAxis:"05" },
					{ views:"251", reqs:"65", xAxis:"06" },
					{ views:"171", reqs:"44", xAxis:"07" },
					{ views:"115", reqs:"20", xAxis:"08" },
					{ views:"210", reqs:"11", xAxis:"09" },
					{ views:"200", reqs:"13", xAxis:"10" },
					{ views:"136", reqs:"18", xAxis:"11" },
					{ views:"220", reqs:"30", xAxis:"12" },
					{ views:"152", reqs:"36", xAxis:"13" },
					{ views:"147", reqs:"32", xAxis:"14" }
				];

				var visitChartLegendData = [
					{text:"Page 01",color:"#a7ee70"},
					{text:"Page 02",color:"#36abee"}
				]

				var visitChartYAxis = {
					start:0,
					step:50,
					end:400
				}

				var data = {
					"pxTreetableData": pxTreetableData,
					"pxTreetableDataSum": "1586",
					"visitsTableData": visitsTableData,
					"visitChartData": visitChartData,
					"visitChartLegendData": visitChartLegendData,
					"visitChartYAxis": visitChartYAxis
				};

				buildUI(data);

			})();

			function buildUI(data) {

				//	Левое меню
				var leftMenu = {
					view:"menu",
					id:"lm",
					layout:"y",
					width:200,
					height: 150,
					select:true,
					data:[
						{ id:"1", value:"Пиксели", icon:"square"},
						{ id:"2", value:"Реклама", icon:"cubes"}
					],
					on:{
						onMenuItemClick:function(id){
							alert(this.getMenuItem(id).value);
						}
					}
				};

				//	Тулбар
				var dtToolbar = {
					view:"toolbar",
					width: 950,
					cols:[
						{ view:"combo", id:"dtCOmbo", label: "Период", value:"Сегодня", yCount:"5", options:["Сегодня", "Вчера", "Октябрь", "Сентябрь", "Диапазон"]},
						{ },
						{ view:"button", type:"iconButton", icon:"edit", label:"Правка", width:120, align:"right" },
						{ view:"button", type:"iconButton", icon:"plus", label:"Добавить", width:120, align:"right" },
						{ view:"button", type:"iconButton", icon:"refresh", label:"Обновить", width:120, align:"right" }
					]

				}

				//	Таблица пикселя (сайты)
				var pxTreetable = {
					view:"treetable",
					width: 470,
					height: 350,
					scroll:"y",
					select:"row",
					footer:true,
					hover:"dthover",
					columns:[
						{ id:"id",	header:"", css:{"text-align":"left"},  width:50},
						{ id:"name",	header:"Площадка",	width:300, footer:{ text:""},
							template:"{common.treetable()} #value#" },
						{ id:"visits",	header:"Посещений", css:{"text-align":"right"},	width:100, footer:{ text: data.pxTreetableDataSum, css:"dtcnalign"}}
					],
					data: data.pxTreetableData
				};

				//	Таблица визитов
				var visitsTable = {
					view: "datatable",
					width: 600,
					height: 350,
					scroll:"y",
					select:"row",
					hover:"dthover",
					columns:[
						{ id:"country",	header:"Страна",	width:180},
						{ id:"city",	header:"Город",	width:180},
						{ id:"useragent",	header:"UserAgent",	width:440},
						{ id:"os",	header:"ОС",	width:150}
					],
					data: data.visitsTableData
				}

				//
				var visitChart = {
					view:"chart",
					type:"line",
					alpha:0.7,
					xAxis:{
						template:"'#xAxis#"
					},
					yAxis:data.visitChartYAxis,
					legend:{
						values: data.visitChartLegendData,
						valign:"middle",
						align:"right",
						width:90,
						layout:"y"
					},
					eventRadius: 5,
					series:[
						{
							type:"area",
							value:"#views#",
							color: "#a7ee70",
							tooltip:{
								template:"#views#"
							}
						},
						{
							type:"line",
							value:"#views#",
							color: "#a7ee70",
							tooltip:{
								template:"#views#"
							}
						},
						{
							type:"area",
							value:"#reqs#",
							color:"#36abee",
							tooltip:{
								template:"#reqs#"
							}
						},
						{
							type:"line",
							value:"#reqs#",
							color:"#36abee",
							tooltip:{
								template:"#reqs#"
							}
						}
					],
					data:data.visitChartData,
					minHeight:300,
					minWidth: 400
				}

				webix.ui({
					css:"wbx",
					container:"data-visualization",
					cols: [
						{ rows: [
							leftMenu,
							{}
						]},
						{ width:10 },
						{ rows: [
							dtToolbar,
							{ height:10 },
							{ cols: [
								pxTreetable,
								{ width:10 },
								visitChart
							]},
							{ height:10 },
							visitsTable
						]}
					]

				});

				$$("lm").select(1);
			}


        </script>
    </div>
</section>
{% endblock %}