{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>


    <!-- Webix CSS -->
    <link href="/static/webix/codebase/webix.css" rel="stylesheet" type="text/css" >

    <!-- DataView -->
    <link href="/static/webix/dataview.css" rel="stylesheet" type="text/css" >


    <link href="/static/bs/css/bootstrap.css" rel="stylesheet">

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
{#    <link href="/static/bs/css/bootstrap.readable.css" rel="stylesheet">#}

    <!-- Custom CSS -->
    <link href="/static/bs/css/freelancer.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/bs/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block css %}
    {% endblock %}

    <!-- Webix JS Core -->
    <script src="/static/webix/codebase/webix.js"></script>

    <!-- jQuery Version 1.11.0 -->
    <script src="/static/bs/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/bs/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/static/bs/js/classie.js"></script>
    <script src="/static/bs/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/static/bs/js/jqBootstrapValidation.js"></script>
{#    <script src="/static/bs/js/contact_me.js"></script>#}

    <!-- Custom Theme JavaScript -->
    <script src="/static/bs/js/freelancer.js"></script>

    <script src="http://cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
<script src="http://cdn.jsdelivr.net/momentjs/2.9.0/moment.min.js"></script>

<!-- Include Date Range Picker -->
<script src="http://cdn.jsdelivr.net/bootstrap.daterangepicker/1/daterangepicker.js"></script>

<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/bootstrap.daterangepicker/1/daterangepicker-bs3.css" />
<script src="http://cdn.jsdelivr.net/bootstrap.daterangepicker/latest/daterangepicker.js"></script>


    {% block js %}
    {% endblock %}

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collap ese-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#page-top">AdBox</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                {% if user and not user.is_anonymous %}
                     <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/accounts/profile/">Профиль</a>
                    </li>
                         {% ifequal user.groups.all.0.name 'publisher' %}
                    <li class="page-scroll">
                        <a href="/banners/">Финансы</a>
                    </li>
                         {% endifequal %}
                     {% ifequal user.groups.all.0.name 'advertizer' %}
                    <li class="page-scroll">
                        <a href="/campaigns/">Кампании</a>
                    </li>
                         {% endifequal %}
                    <li>
                        <a href="/logout">Выйти</a>
                    </li>
                </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/#portfolio">Предложение</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/#about">О нас</a>
                    </li>
                    <li>
                        <a href="/login">Личный кабинет</a>
                    </li>
                </ul>
                {%endif%}
                 <ul class="nav navbar-nav navbar">
                     <li class="page-scroll">
                            &nbsp;
                     </li>
                     <li class="page-scroll">
                            &nbsp;
                     </li>
                </ul>
                <ul class="nav navbar-nav navbar">
                     <li class="page-scroll">
                         <a href=""><i class="fa fa-phone"></i> +7 705-740-1880</a>
                     </li>
                     <li class="page-scroll">
                         <a class="" href="mailto:info@adbox.kz">info@adbox.kz</a>
                     </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



    {% block content %}{% endblock %}


    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Email</h3>
                        <p><a href="mailto:info@adbox.kz">info@adbox.kz</a></p>
                        <h3>Контакты</h3>
                        <p><a><i class="fa fa-phone"></i> +7 705 740 18 80</a></p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>МЫ в СОЦ СЕТЯХ</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Информация</h3>
                        <ul style="padding: 0px;">
                            <ui>
                               <a href="/faq">FAQ</a><br/>
                            </ui>
                            <ui>
                               <a href="/instructions">Инструкции</a><br/>
                            </ui>
                            <ui>
                               <a href="/conditions">Условия участия</a><br/>
                            </ui>
                            <ui>
                               <a href="/formats">Форматы</a><br/>
                            </ui>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; AdBox 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>




</body>

</html>
