{% extends "base.html" %}
{% block title %}Welcome to Django{% endblock %}
{% block head %}Welcome to Django{% endblock %}
{% block css %}
{% load humanize %}


{% endblock %}
{% block content %}
<section>
    <!--<div id="data-visualization" style="margin-left: 62px; margin-right: 62px; min-height: 300px;">-->
    <div id="data-visualization" class="dv-container">
		<script src="/static/js/publisher.js"></script>
        <script>


			var publisherData = {

				"leftMenuData": [{
					id: "1",
					value: "Трекинг",
					icon: "sitemap"
				}, {
					id: "2",
					value: "Реклама",
					icon: "list-alt"
				}, {
					id: "3",
					value: "Профиль",
					icon: "user"
				}, {
					id: "4",
					value: "Выход",
					icon: "sign-out"
				}],

				"leftMenuLinks": [
					"javascript:alert(\"Трекинг\")",
					"javascript:alert(\"Реклама\")",
					"/accounts/profile/",
					"/logout"
				],

				"toolbarDates":["Сегодня", "Вчера", "Октябрь", "Сентябрь"],

				"trackTreetableData": [
					{ "id":"1", "value":"Chocomart", "time":"40", "active":"22", "visits":"549", "uniq":"200", "open":true, "data":[
						{ "id":"1.1", "value":"Page 01", "time":"350", "active":"25", "visits":"800", "uniq":"400"},
						{ "id":"1.2", "value":"Page 02", "time":"50", "active":"25", "visits":"800", "uniq":"400" },
						{ "id":"1.3", "value":"Page 03", "time":"49", "active":"25", "visits":"800", "uniq":"400" }
					]},
					{ "id":"2", "value":"Lensmark", "time":"80", "active":"10", "visits":"450", "uniq":"112", "open":true, "data":[
						{ "id":"2.1", "value":"Page 01", "time":"111", "active":"25", "visits":"800", "uniq":"400" },
						{ "id":"2.2", "value":"Page 02", "time":"110", "active":"25", "visits":"800", "uniq":"400" }
					]},
					{ "id":"3", "value":"Chocofood", "time":"124", "active":"25", "visits":"800", "uniq":"400", "open":true, "data":[
						{ "id":"3.1", "value":"Page 01", "time":"412", "active":"25", "visits":"800", "uniq":"400" },
						{ "id":"3.2", "value":"Page 02", "time":"104", "active":"25", "visits":"800", "uniq":"400" },
						{ "id":"3.3", "value":"Page 03", "time":"200", "active":"25", "visits":"800", "uniq":"400" },
						{ "id":"3.4", "value":"Page 04", "time":"100", "active":"25", "visits":"800", "uniq":"400" }
					]}
				],

				"visitChartData": [
					{ views:"152", reqs:"36", xAxis:"00" },
					{ views:"147", reqs:"32", xAxis:"01" },
					{ views:"181", reqs:"40", xAxis:"02" },
					{ views:"182", reqs:"38", xAxis:"03" },
					{ views:"173", reqs:"36", xAxis:"04" },
					{ views:"170", reqs:"32", xAxis:"05" },
					{ views:"251", reqs:"65", xAxis:"06" },
					{ views:"171", reqs:"44", xAxis:"07" },
					{ views:"115", reqs:"20", xAxis:"08" },
					{ views:"210", reqs:"11", xAxis:"09" },
					{ views:"200", reqs:"13", xAxis:"10" },
					{ views:"136", reqs:"18", xAxis:"11" },
					{ views:"220", reqs:"30", xAxis:"12" },
					{ views:"152", reqs:"36", xAxis:"13" },
					{ views:"147", reqs:"32", xAxis:"14" }
				],

				"visitChartLegendData": [
					{text:"Общее число посещений",color:"#a7ee70"},
					{text:"Уникальные поситители",color:"#36abee"}
				],

				"visitChartYAxis": {
					start:0,
					step:50,
					end:400
				},

				"timeChartData": [
					{ views:"152", reqs:"36", xAxis:"00" },
					{ views:"147", reqs:"32", xAxis:"01" },
					{ views:"181", reqs:"40", xAxis:"02" },
					{ views:"182", reqs:"38", xAxis:"03" },
					{ views:"173", reqs:"36", xAxis:"04" },
					{ views:"170", reqs:"32", xAxis:"05" },
					{ views:"251", reqs:"65", xAxis:"06" },
					{ views:"171", reqs:"44", xAxis:"07" },
					{ views:"115", reqs:"20", xAxis:"08" },
					{ views:"210", reqs:"11", xAxis:"09" },
					{ views:"200", reqs:"13", xAxis:"10" },
					{ views:"136", reqs:"18", xAxis:"11" },
					{ views:"220", reqs:"30", xAxis:"12" },
					{ views:"152", reqs:"36", xAxis:"13" },
					{ views:"147", reqs:"32", xAxis:"14" }
				],

				"timeChartLegendData": [
					{text:"Среднее время на сайте",color:"#a7ee70"},
					{text:"Среднее время активности",color:"#36abee"}
				],

				"timeChartYAxis": {
					start:0,
					step:50,
					end:250
				},

				"browserChartData": [
					{ percent:"10", browser:"MSIE", color: "#ee3639" },
					{ percent:"70", browser:"Chrome", color: "#ee9e36" },
					{ percent:"20", browser:"Mar", color: "#eeea36" }
				]
			};

			buildUI(publisherData, "data-visualization");
        </script>
    </div>
</section>
{% endblock %}